<html>
    <head>
        <meta charset="UTF-8">
        <title>Sistema Escolar</title>
    </head>
    <body>
        <h1>Sistema de Gerenciamento Escolar</h1>
        <nav>
            <a href="/materiais">Materiais Escolares</a>
            <a href="/professores">Professores</a>
            <a href="/turmas">Turmas</a>
        </nav>
    </body>
</html>